// 主要颜色配置
$main-color: #1482f0;
$bg-color: #F7F8FA;
$active-color: #0c64eb;
$hover-color: rgba(41, 140, 248, 0.1);
$warning-color: #f5bb4a;
$error-color: #ff5d5d;
$border-color: #e7e9ed;
$disable-color: #e7e8e9;

// 导航栏配置
$base-menu-background:#3E4657;
$base-menu-color-active:#263445;
$base-sub-menu-background:#1f2d3d;
$base-sub-menu-hover:#001528;
$base-sidebar-width: 210px;
$base-nav-bar-height: 48px;
